@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Staatliches&display=swap');

.titulo{
    font-family: 'Staatliches', cursive;
    font-size: 45px;
    display: flex;
    justify-content: center;
}

.subtitulo{
    font-family:'Staatliches', cursive;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.linhas{
    display:flex;
    width: 60vw;
    justify-content:center;
    margin-left: auto;
    margin-right: auto;
}

.barras{
    display:flex;
    width: 60vw;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}